.gallery-wrapper {
  width: 340px;
  padding: 16px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 0 8px 0 #00000020;
}

.gallery-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 0.9em;
}

.gallery-item {
  cursor: pointer;
}

.gallery-item > img {
  width: 100%;
}
