.home-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-box {
  width: 560px;
  height: 480px;
  margin-bottom: 16px;
}

.home-wrapper button {
  background-color: transparent;
  border: none;
  font-size: 32px;
  padding: 0.4em 0.8em;
  font-family: "Playball", serif;
  cursor: pointer;
}

.home-wrapper button:hover::after {
  content: "";
  display: block;
  width: 100%;
  margin-bottom: -2px;
  border-bottom: 2px solid currentColor;
}

