.mapview-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 0;
}

.location-marker {
  cursor: pointer;
}

.map-wrapper {
  position: relative;
  flex-grow: 1;
}
