.mapview-wrapper {
  grid-column: 2;
  grid-row: 1;
  position: relative;
  display: flex;
  flex-direction: row;
}

.location-marker {
  cursor: pointer;
}

.map-wrapper {
  position: relative;
  flex-grow: 1;
}

.nav {
  position: absolute;
  display:inline;
  float:right;
}

.nav button{
 
  margin: 10px;
  padding: 5px;
  padding-right: 10px;
  background-color: red;
  border: none;
  font-size: 30px;
  font-family: "Playball", serif;
  color: black;
 
 
}


.nav .active, .nav button:hover{
  
  background: rgba(69,69,69,0.5);
  border-color: black;
  border-radius: 10px;
  cursor:pointer;
}
