.page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.4s;
  background: linear-gradient(rgba(211, 211, 211, 0.7), rgba(211, 211, 211, 0.7)), url("../../public/wok.jpg") 50% / cover;
}

.page-wrapper .nav {
  z-index: 45834905324;
}

