.app-wrapper {
  overflow: hidden;
  transition: 0.6s;
  width: 100vw;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 100000;
  background-color: #ffffff40;
}

.nav.solid {
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 #00000020;
}

.nav .button-wrapper {
  margin-right: 16px;
}

.nav button {
  margin: 10px;
  padding: 5px;
  padding-right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-family: "Playball", serif;
  cursor: pointer;
}

.nav button:hover::after {
  content: "";
  display: block;
  width: 100%;
  margin-bottom: -2px;
  border-bottom: 2px solid currentColor;
}
